@import "tailwindcss";

:root {
  --primary-color: #1d4ed8;
  --secondary-color: #64748b;
  --background-color: #f9fafb;
}

html, body {
  @apply h-full text-gray-900;
  background-color: var(--background-color);
}

#root {
  @apply h-full;
}